[submodule "Intern-S1-recipe"]
	path = Intern-S1-recipe
	url = https://github.com/DragonDescentZerotsu/Intern-S1-recipe.git
[submodule "openrlhf/tools/therapeutic-tools"]
	path = openrlhf/tools/therapeutic_tools
	url = git@github.com:jiosephlee/therapeutic-tools.git
[submodule "LLM4SD"]
	path = LLM4SD
	url = https://github.com/DragonDescentZerotsu/LLM4SD.git
